* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


@media only screen and (max-width: 600px) {

    .gridWrapper {
        width: 100vw;
        height: 200vh;
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "head head head"
        "article1 article1 article1"
        "article1 article1 article1"
        "article1 article1 article1"
        "article1 article1 article1"
        "foot foot foot"
    }

    .head {
        grid-area: head;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid black 1px;
    }

    .logo {
        width: 250px;
    }

    .lineContainer {
        position: relative;
        top: -10px;
    }

    .lineContainer div{
        width: 25px;
        height: 5px;
        background-color: black;
        margin: 2px;
        border-radius: 10%;
        transition: ease 0.25s;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 0px;
        top: -90vh;
        height: 90vh;
        background-color: rgba(255, 255, 255, 0);
        align-items: center;
        width: 20%;
        transition: ease 0.25s;
        border: solid black 1px;
        border-radius: 2px;
    }

    .article1 {
        grid-area: article1;
        background-color: darkblue;
    }

    .foot {
        grid-area: foot;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-top: solid black 1px;
    }

    ul {
        list-style-type: none;
    }

    ul a {
        text-decoration: none;
        color: black;
    }
}